.dark .content__default code {
  background-color: rgba(58,58,92,0.7);
  color: #fff;
}

@font-face {
  font-family: '小赖字体';
  src: url('/assets/font/XiaolaiSC-Regular.ttf');
}

@font-face {
  font-family: '谦度手写楷体';
  src: url('/assets/font/谦度手写楷体.ttf');
}

@font-face {
  font-family: 'MountainsofChristmas';
  src: url('/assets/font/MountainsofChristmas.ttf');
}

@font-face {
  font-family: 'FrederickatheGreat';
  src: url('/assets/font/FrederickatheGreat-Regular.ttf');
}

.home-blog .hero h1{
  font-family: 'MountainsofChristmas'
  font-weight: bold;
  color: #e8e8e8;
}

.home-blog .hero .description{
  font-family: 'FrederickatheGreat'  
  font-size: 30px !important;
  color: #e8e8e8;
}

.abstract-item, .info-wrapper, .navbar .links, .pagation.pagation .pagation-list, .tags, .theme-container.sidebar-open > div > div:last-child .sidebar{
  font-family: '小赖字体'
}

/* README.md文件设置的 底部文字生效*/
.content__default:not(.custom){
  font-family: '小赖字体'
}

.navbar .home-link{
  font-family: '谦度手写楷体'
}

.iconfont span{
  font-family: '谦度手写楷体' 
  font-size: 16px
}

.tags .tag-item{
  font-weight: bold
}